.fondoDia {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../imgs/general/fondoDia.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fondoNoche {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../imgs/general/fondoNoche.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.zonaModos {
  grid-column: 5/10;
  height: 90vh;

  font-family: PokeClassic;
}

.encabezadoModos {
  margin-bottom: 2em;
  font-size: 2em;
}

.classicMode,
.pokedexMode,
.cardMode,
.silouetteMode {
  transition: 0.2s linear;
  margin-bottom: 1em;
}

.classicMode:hover,
.pokedexMode:hover,
.cardMode:hover,
.silouetteMode:hover {
  transform: scale(1.05);
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings, .language, .accesibilidad {
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: 0.2s linear;
}

.logo{
  cursor: pointer;
  height: 300px;
  transition: 0.2s linear;
}

.accesibilidad {
  position: absolute;
  top: 0;
  right: 3;
}

.logo:hover, .settings:hover, .language:hover, .accesibilidad:hover {
  transform: scale(1.05);
}
