<footer>
    <div class="footer-container">
        <a class="footerEnlaceInicio" href="./index.html"><img src="./assets/imgs/footer/Inicio.png" alt="Inicio"></a>
        <a class="footerEnlaceContacto" href="./contacto.html"><img src="./assets/imgs/footer/Contacto.png" alt="Contacto"></a>
        <a class="footerEnlacePrivacidad" href="#"><img src="./assets/imgs/footer/Privacidad.png" alt="Política de privacidad"></a>
        <div class="redes-sociales">
            <a class="footerEnlaceFacebook" href="#"><img src="./assets/imgs/socials/icon-facebook.png" alt="Facebook"></a>
            <a class="footerEnlaceTwitter" href="#"><img src="./assets/imgs/socials/icon-twitter.png" alt="Twitter"></a>
            <a class="footerEnlaceInstagram" href="#"><img src="./assets/imgs/socials/icon-instagram.png" alt="Instagram"></a>
        </div>
        <div class="copyright">
            <img src="./assets/imgs/footer/Copyright.png" alt="Copyright">
        </div>
    </div>
</footer>
