<footer>
    <div class="footer-container">
        <a class="footerEnlaceInicio" href="./index.html">
            <picture>
                <!-- Formato WEBP -->
                <source srcset="./assets/imgs/footer/Inicio.webp" type="image/webp">
                <!-- En caso de que el navegador no acepte WEBP -->
                <img src="./assets/imgs/footer/Inicio.png" alt="Inicio">
            </picture>
        </a>

        <a class="footerEnlaceContacto" href="./contacto.html">
            <picture>
                <!-- Formato WEBP -->
                <source srcset="./assets/imgs/footer/Contacto.webp" type="image/webp">
                <!-- En caso de que el navegador no acepte WEBP -->
                <img src="./assets/imgs/footer/Contacto.png" alt="Contacto">
            </picture>
        </a>

        <a class="footerEnlaceCreditos" href="#">
            <picture>
                <!-- Formato WEBP -->
                <source srcset="./assets/imgs/footer/Creditos.webp" type="image/webp">
                <!-- En caso de que el navegador no acepte WEBP -->
                <img src="./assets/imgs/footer/Creditos.png" alt="Informac´">
            </picture>
        </a>
        <div class="redes-sociales">
            <a class="footerEnlaceFacebook" href="https://facebook.com/">
                <picture>
                    <!-- Formato WEBP -->
                    <source srcset="./assets/imgs/socials/icon-facebook.webp" type="image/webp">
                    <!-- En caso de que el navegador no acepte WEBP -->
                    <img src="./assets/imgs/socials/icon-facebook.png" alt="Facebook">
                </picture>
            </a>

            <a class="footerEnlaceTwitter" href="https://twitter.com/">
                <picture>
                    <!-- Formato WEBP -->
                    <source srcset="./assets/imgs/socials/icon-twitter.webp" type="image/webp">
                    <!-- En caso de que el navegador no acepte WEBP -->
                    <img src="./assets/imgs/socials/icon-twitter.png" alt="Twitter">
                </picture>
            </a>

            <a class="footerEnlaceInstagram" href="https://instagram.com/">
                <picture>
                    <!-- Formato WEBP -->
                    <source srcset="./assets/imgs/socials/icon-instagram.webp" type="image/webp">
                    <!-- En caso de que el navegador no acepte WEBP -->
                    <img src="./assets/imgs/socials/icon-instagram.png" alt="Instagram">
                </picture>
            </a>
        </div>
        <div class="copyright">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1">
                <picture>
                    <!-- Formato WEBP -->
                    <source srcset="./assets/imgs/footer/Copyright.webp" type="image/webp">
                    <!-- En caso de que el navegador no acepte WEBP -->
                    <img src="./assets/imgs/footer/Copyright.png" alt="Copyright">
                </picture>
            </a>
        </div>
    </div>
</footer>