<header>
    <div class="header-container">
        <a href="#">
            <img class="settings" src="./assets/imgs/header/config.png" alt="Ajustes" tabindex="0">
        </a>

        <a href="./index.html">
            <img class="logo" src="./assets/imgs/header/Pokemondle.png" alt="Pokemondle" tabindex="0">
        </a>

        <a href="#">
            <img class="language" src="./assets/imgs/header/globe.svg" alt="Idioma" tabindex="0">
        </a>

        <a href="#">
            <img class="accesibilidad" src="./assets/imgs/contact/accesibilidad.png"
                alt="Simbolo para activar accesibilidad" tabindex="0">
        </a>
    </div>
</header>