<header>
    <div class="header-container">
      <!-- Ajustes -->
      <a href="#">
        <picture>
          <!-- Formato WEBP -->
          <source srcset="./assets/imgs/header/config.webp" type="image/webp">
          <!-- En caso de que el navegador no acepte WEBP -->
          <img class="settings" src="./assets/imgs/header/config.png" alt="Ajustes" tabindex="0">
        </picture>
      </a>
  
      <!-- Logo -->
      <a href="./index.html">
        <picture>
          <!-- Formato WEBP -->
          <source srcset="./assets/imgs/header/Pokemondle.webp" type="image/webp">
          <!-- En caso de que el navegador no acepte WEBP -->
          <img class="logo" src="./assets/imgs/header/Pokemondle.png" alt="Pokemondle" tabindex="0">
        </picture>
      </a>
  
      <!-- Idioma -->
      <a href="#">
        <picture>
          <!-- Formato WEBP -->
          <source srcset="./assets/imgs/header/globe.webp" type="image/webp">
          <!-- En caso de que el navegador no acepte WEBP -->
          <img class="language" src="./assets/imgs/header/globe.svg" alt="Idioma" tabindex="0">
        </picture>
      </a>
  
      <!-- Accesibilidad -->
      <a href="#">
        <picture>
          <!-- Formato WEBP -->
          <source srcset="./assets/imgs/contact/accesibilidad.webp" type="image/webp">
          <!-- En caso de que el navegador no acepte WEBP -->
          <img class="accesibilidad" src="./assets/imgs/contact/accesibilidad.png" alt="Simbolo para activar accesibilidad" tabindex="0">
        </picture>
      </a>
    </div>
  </header>
  